body{
    background-color: black;
    color: white;
}

.watch{
    border-radius: 20px;
    margin: 15% 0 0 40%;
    height: 244px;
    width: 355px;
    display: flex;
    flex-direction: column;
    background-color: #322b2b;
    justify-content: center;
    align-items: center;
}

.time h2{
    font-size: 33px;
    font-weight: 200;
}

.btn button{
    margin: 6px;
    padding: 10px;
    border-radius: 70px;
    border: none;
    outline: 0;
}