body{
    background:linear-gradient(135deg,#1e3c72,#2a5298);
}

nav{
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(15px);
    color:white;
}

#sigh{
    background:#00E5FF;
    color:#111;
}

#sigh:hover{
    background:#00B8D4;
}

.details ul li{
    color:white;
}

.color{
    color:white;
}